# Data Pre-processing

### Import Libraries

In [1]:
# main libraries
import numpy as np
import pandas as pd
import nltk

# For Data processing/cleaning
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from wordcloud import STOPWORDS
from bs4 import BeautifulSoup
import re
from nltk.tokenize.toktok import ToktokTokenizer
import os
import warnings

In [2]:
# import sys
# sys.path.append("stemmer\TagalogStemmerPython")

# import TglStemmer

In [3]:
dataset = pd.read_csv("All_Data.csv")

In [4]:
dataset.shape

(36701, 3)

In [5]:
dataset.head()

,date,user,text
0,2022-11-29 04:15:58+00:00,maffyolfato,#academicbreaknow
1,2022-11-27 12:18:49+00:00,researcheff,"Hello, #AcademicTwitter,\n\nüéôÔ∏è""You need to hav..."
2,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow
3,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday
4,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...

In [6]:
dataset.isna().any()

date    False
user    False
text    False
dtype: bool

In [7]:
df2 = dataset.drop_duplicates(subset=["text"], keep='first')
df2.shape

(29596, 3)

### Removing @names

In [8]:
def remove_pattern(text,pattern):
    
    # re.findall() finds the pattern i.e @user and puts it in a list for further task
    r = re.findall(pattern,text)
    
    # re.sub() removes @user from the sentences in the dataset
    for i in r:
        text = re.sub(i,"",text)
    
    return text

In [9]:
df2['tidy_tweets'] = np.vectorize(remove_pattern)(df2['text'], "@[\w]*")

df2.head(10)

<ipython-input-9-7ce2c0ade8c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['tidy_tweets'] = np.vectorize(remove_pattern)(df2['text'], "@[\w]*")

,date,user,text,tidy_tweets
0,2022-11-29 04:15:58+00:00,maffyolfato,#academicbreaknow,#academicbreaknow
1,2022-11-27 12:18:49+00:00,researcheff,"Hello, #AcademicTwitter,\n\nüéôÔ∏è""You need to hav...","Hello, #AcademicTwitter,\n\nüéôÔ∏è""You need to hav..."
2,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,lunes nanaman bukas #academicbreaknow
3,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,#AcademicBreakNow gusto q na tapusin Wednesday
4,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,super delay na ako sa tbw list ko #academicbre...
5,2022-11-24 15:46:35+00:00,zellyze,@angewwaa same beh üò≠ academicbreaknow!!!,same beh üò≠ academicbreaknow!!!
6,2022-11-24 15:40:42+00:00,louvri_,#AcademicBreakNow,#AcademicBreakNow
7,2022-11-24 12:46:22+00:00,_patreng_,#/academicbreaknow tsngina pagod na 'ko magpaypay,#/academicbreaknow tsngina pagod na 'ko magpaypay
8,2022-11-24 08:18:08+00:00,willowveewise,"Pagoda ang accla, 4hours tulog gising 3:40am l...","Pagoda ang accla, 4hours tulog gising 3:40am l..."
10,2022-11-22 15:31:24+00:00,rielles_cart,"sa letra ng p, putangina pagod na ko #academic...","sa letra ng p, putangina pagod na ko #academic..."

###  Removing Punctuations, Numbers, and Special Characters

In [10]:
df2['tidy_tweets'] = df2['tidy_tweets'].str.replace("[^a-zA-Z#]", " ")
df2.head(10)

<ipython-input-10-58216521fa57>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df2['tidy_tweets'] = df2['tidy_tweets'].str.replace("[^a-zA-Z#]", " ")
<ipython-input-10-58216521fa57>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['tidy_tweets'] = df2['tidy_tweets'].str.replace("[^a-zA-Z#]", " ")

,date,user,text,tidy_tweets
0,2022-11-29 04:15:58+00:00,maffyolfato,#academicbreaknow,#academicbreaknow
1,2022-11-27 12:18:49+00:00,researcheff,"Hello, #AcademicTwitter,\n\nüéôÔ∏è""You need to hav...",Hello #AcademicTwitter You need to have ...
2,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,lunes nanaman bukas #academicbreaknow
3,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,#AcademicBreakNow gusto q na tapusin Wednesday
4,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,super delay na ako sa tbw list ko #academicbre...
5,2022-11-24 15:46:35+00:00,zellyze,@angewwaa same beh üò≠ academicbreaknow!!!,same beh academicbreaknow
6,2022-11-24 15:40:42+00:00,louvri_,#AcademicBreakNow,#AcademicBreakNow
7,2022-11-24 12:46:22+00:00,_patreng_,#/academicbreaknow tsngina pagod na 'ko magpaypay,# academicbreaknow tsngina pagod na ko magpaypay
8,2022-11-24 08:18:08+00:00,willowveewise,"Pagoda ang accla, 4hours tulog gising 3:40am l...",Pagoda ang accla hours tulog gising am l...
10,2022-11-22 15:31:24+00:00,rielles_cart,"sa letra ng p, putangina pagod na ko #academic...",sa letra ng p putangina pagod na ko #academic...

### Removing links

In [11]:
cleaned_tweets = []

for index, row in df2.iterrows():
    # Here we are filtering out all the words that contains link
    words_without_links = [word for word in row.tidy_tweets.split() if 'http' not in word]
    cleaned_tweets.append(' '.join(words_without_links))

df2['tidy_tweets'] = cleaned_tweets
df2.head(10)

<ipython-input-11-e81f0b0f3605>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['tidy_tweets'] = cleaned_tweets

,date,user,text,tidy_tweets
0,2022-11-29 04:15:58+00:00,maffyolfato,#academicbreaknow,#academicbreaknow
1,2022-11-27 12:18:49+00:00,researcheff,"Hello, #AcademicTwitter,\n\nüéôÔ∏è""You need to hav...",Hello #AcademicTwitter You need to have a rest...
2,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,lunes nanaman bukas #academicbreaknow
3,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,#AcademicBreakNow gusto q na tapusin Wednesday
4,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,super delay na ako sa tbw list ko #academicbre...
5,2022-11-24 15:46:35+00:00,zellyze,@angewwaa same beh üò≠ academicbreaknow!!!,same beh academicbreaknow
6,2022-11-24 15:40:42+00:00,louvri_,#AcademicBreakNow,#AcademicBreakNow
7,2022-11-24 12:46:22+00:00,_patreng_,#/academicbreaknow tsngina pagod na 'ko magpaypay,# academicbreaknow tsngina pagod na ko magpaypay
8,2022-11-24 08:18:08+00:00,willowveewise,"Pagoda ang accla, 4hours tulog gising 3:40am l...",Pagoda ang accla hours tulog gising am lecture...
10,2022-11-22 15:31:24+00:00,rielles_cart,"sa letra ng p, putangina pagod na ko #academic...",sa letra ng p putangina pagod na ko #academicb...

### Remove hashtags

In [35]:
def clean_char(text):
    clean_tweet = re.sub("@[A-Za-z0-9_]+","", text)
    clean_tweet = re.sub("#[A-Za-z0-9_]+","", clean_tweet)
    return clean_tweet
df2['tidy_tweets']=df2['tidy_tweets'].apply(clean_char)
df2['tidy_tweets']=df2['tidy_tweets'].apply(clean_char)

<ipython-input-35-80c7a13090e8>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['tidy_tweets']=df2['tidy_tweets'].apply(clean_char)
<ipython-input-35-80c7a13090e8>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['tidy_tweets']=df2['tidy_tweets'].apply(clean_char)

### Remove rows with empty texts

In [36]:
tweets_df = df2[df2['tidy_tweets']!='']
tweets_df.head(10)

,date,user,text,tidy_tweets
1,2022-11-27 12:18:49+00:00,researcheff,"Hello, #AcademicTwitter,\n\nüéôÔ∏è""You need to hav...",Hello You need to have a rest To activate you...
2,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,lunes nanaman bukas
3,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,gusto q na tapusin Wednesday
4,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,super delay na ako sa tbw list ko
5,2022-11-24 15:46:35+00:00,zellyze,@angewwaa same beh üò≠ academicbreaknow!!!,same beh academicbreaknow
7,2022-11-24 12:46:22+00:00,_patreng_,#/academicbreaknow tsngina pagod na 'ko magpaypay,# academicbreaknow tsngina pagod na ko magpaypay
8,2022-11-24 08:18:08+00:00,willowveewise,"Pagoda ang accla, 4hours tulog gising 3:40am l...",Pagoda ang accla hours tulog gising am lecture...
10,2022-11-22 15:31:24+00:00,rielles_cart,"sa letra ng p, putangina pagod na ko #academic...",sa letra ng p putangina pagod na ko
11,2022-11-22 14:27:37+00:00,aziallaa,nakalimutan kong may coffee pala ako kasi may ...,nakalimutan kong may coffee pala ako kasi may ...
12,2022-11-21 14:33:33+00:00,joluvre,@tkluvon it‚Äôs so hard to keep up gawa ng schoo...,it s so hard to keep up gawa ng school lately ...

### Drop Duplicates

In [15]:
tweets_df.drop_duplicates(subset=['tidy_tweets'], keep='first')
tweets_df.shape

(28863, 4)

### Reset Index

In [16]:
tweets_df = tweets_df.reset_index(drop=True)
tweets_df

,date,user,text,tidy_tweets
0,2022-11-27 12:18:49+00:00,researcheff,"Hello, #AcademicTwitter,\n\nüéôÔ∏è""You need to hav...",Hello You need to have a rest To activate you...
1,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,lunes nanaman bukas
2,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,gusto q na tapusin Wednesday
3,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,super delay na ako sa tbw list ko
4,2022-11-24 15:46:35+00:00,zellyze,@angewwaa same beh üò≠ academicbreaknow!!!,same beh academicbreaknow
...,...,...,...,...
28858,2022-10-21 05:27:01+00:00,dinnyyyyyyyy,@aicannot si taylor nay nag implement ug acade...,si taylor nay nag implement ug academic break
28859,2022-10-21 05:24:05+00:00,stalinistberet,"@RodericDay ""Actually Lenin wasn't peer review...",Actually Lenin wasn t peer reviewed by establi...
28860,2022-10-21 05:15:33+00:00,6Senoritamae,Academic break plssüò≠,Academic break plss
28861,2022-10-21 04:49:59+00:00,treysinsmxx,tangina hirap magpa chill chill hahaha daming ...,tangina hirap magpa chill chill hahaha daming ...
28862,2021-04-18 01:37:02+00:00,akifplrs,Nakakatuwa ang tamad ko pero gusto ko ng acade...,Nakakatuwa ang tamad ko pero gusto ko ng acade...

In [17]:
tweets_df.shape

(28863, 4)

### Remove special characters again

In [18]:
tweets_df['absolute_tidy_tweets'] = tweets_df['tidy_tweets'].str.replace("[^a-zA-Z# ]", "")

<ipython-input-18-d16302e73904>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tweets_df['absolute_tidy_tweets'] = tweets_df['tidy_tweets'].str.replace("[^a-zA-Z# ]", "")

In [19]:
tweets_df

,date,user,text,tidy_tweets,absolute_tidy_tweets
0,2022-11-27 12:18:49+00:00,researcheff,"Hello, #AcademicTwitter,\n\nüéôÔ∏è""You need to hav...",Hello You need to have a rest To activate you...,Hello You need to have a rest To activate you...
1,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,lunes nanaman bukas,lunes nanaman bukas
2,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,gusto q na tapusin Wednesday,gusto q na tapusin Wednesday
3,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,super delay na ako sa tbw list ko,super delay na ako sa tbw list ko
4,2022-11-24 15:46:35+00:00,zellyze,@angewwaa same beh üò≠ academicbreaknow!!!,same beh academicbreaknow,same beh academicbreaknow
...,...,...,...,...,...
28858,2022-10-21 05:27:01+00:00,dinnyyyyyyyy,@aicannot si taylor nay nag implement ug acade...,si taylor nay nag implement ug academic break,si taylor nay nag implement ug academic break
28859,2022-10-21 05:24:05+00:00,stalinistberet,"@RodericDay ""Actually Lenin wasn't peer review...",Actually Lenin wasn t peer reviewed by establi...,Actually Lenin wasn t peer reviewed by establi...
28860,2022-10-21 05:15:33+00:00,6Senoritamae,Academic break plssüò≠,Academic break plss,Academic break plss
28861,2022-10-21 04:49:59+00:00,treysinsmxx,tangina hirap magpa chill chill hahaha daming ...,tangina hirap magpa chill chill hahaha daming ...,tangina hirap magpa chill chill hahaha daming ...
28862,2021-04-18 01:37:02+00:00,akifplrs,Nakakatuwa ang tamad ko pero gusto ko ng acade...,Nakakatuwa ang tamad ko pero gusto ko ng acade...,Nakakatuwa ang tamad ko pero gusto ko ng acade...

# Remove English and Filipino Stopwords

In [20]:
tokenizer = ToktokTokenizer()

In [21]:
stopword_eng = nltk.corpus.stopwords.words('english')
stopword_fil = ["akin","aking","ako","alin","am","amin","aming","ang","ano","anumang","apat","at","atin","ating","ay","bababa","bago","bakit","bawat","bilang","dahil","dalawa","dapat","din","dito","doon","gagawin","gayunman","ginagawa","ginawa","ginawang","gumawa","gusto","habang","hanggang","hindi","huwag","iba","ibaba","ibabaw","ibig","ikaw","ilagay","ilalim","ilan","inyong","isa","isang","itaas","ito","iyo","iyon","iyong","ka","kahit","kailangan","kailanman","kami","kanila","kanilang","kanino","kanya","kanyang","kapag","kapwa","karamihan","katiyakan","katulad","kaya","kaysa","ko","kong","kulang","kumuha","kung","laban","lahat","lamang","likod","lima","maaari","maaaring","maging","mahusay","makita","marami","marapat","masyado","may","mayroon","mga","minsan","mismo","mula","muli","na","nabanggit","naging","nagkaroon","nais","nakita","namin","napaka","narito","nasaan","ng","ngayon","ni","nila","nilang","nito","niya","niyang","noon","o","pa","paano","pababa","paggawa","pagitan","pagkakaroon","pagkatapos","palabas","pamamagitan","panahon","pangalawa","para","paraan","pareho","pataas","pero","pumunta","pumupunta","sa","saan","sabi","sabihin","sarili","sila","sino","siya","tatlo","tayo","tulad","tungkol","una","walang"]

In [22]:
print(stopword_eng)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [23]:
print(stopword_fil)

['akin', 'aking', 'ako', 'alin', 'am', 'amin', 'aming', 'ang', 'ano', 'anumang', 'apat', 'at', 'atin', 'ating', 'ay', 'bababa', 'bago', 'bakit', 'bawat', 'bilang', 'dahil', 'dalawa', 'dapat', 'din', 'dito', 'doon', 'gagawin', 'gayunman', 'ginagawa', 'ginawa', 'ginawang', 'gumawa', 'gusto', 'habang', 'hanggang', 'hindi', 'huwag', 'iba', 'ibaba', 'ibabaw', 'ibig', 'ikaw', 'ilagay', 'ilalim', 'ilan', 'inyong', 'isa', 'isang', 'itaas', 'ito', 'iyo', 'iyon', 'iyong', 'ka', 'kahit', 'kailangan', 'kailanman', 'kami', 'kanila', 'kanilang', 'kanino', 'kanya', 'kanyang', 'kapag', 'kapwa', 'karamihan', 'katiyakan', 'katulad', 'kaya', 'kaysa', 'ko', 'kong', 'kulang', 'kumuha', 'kung', 'laban', 'lahat', 'lamang', 'likod', 'lima', 'maaari', 'maaaring', 'maging', 'mahusay', 'makita', 'marami', 'marapat', 'masyado', 'may', 'mayroon', 'mga', 'minsan', 'mismo', 'mula', 'muli', 'na', 'nabanggit', 'naging', 'nagkaroon', 'nais', 'nakita', 'namin', 'napaka', 'narito', 'nasaan', 'ng', 'ngayon', 'ni', 'nila', 'nilang', 'nito', 'niya', 'niyang', 'noon', 'o', 'pa', 'paano', 'pababa', 'paggawa', 'pagitan', 'pagkakaroon', 'pagkatapos', 'palabas', 'pamamagitan', 'panahon', 'pangalawa', 'para', 'paraan', 'pareho', 'pataas', 'pero', 'pumunta', 'pumupunta', 'sa', 'saan', 'sabi', 'sabihin', 'sarili', 'sila', 'sino', 'siya', 'tatlo', 'tayo', 'tulad', 'tungkol', 'una', 'walang']

### Remove english stopwords

In [24]:
def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_eng]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_eng]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

tweets_df['stopped_tweets']=tweets_df['absolute_tidy_tweets'].apply(remove_stopwords)

In [25]:
tweets_df

,date,user,text,tidy_tweets,absolute_tidy_tweets,stopped_tweets
0,2022-11-27 12:18:49+00:00,researcheff,"Hello, #AcademicTwitter,\n\nüéôÔ∏è""You need to hav...",Hello You need to have a rest To activate you...,Hello You need to have a rest To activate you...,Hello need rest activate best Thus try find ti...
1,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,lunes nanaman bukas,lunes nanaman bukas,lunes nanaman bukas
2,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,gusto q na tapusin Wednesday,gusto q na tapusin Wednesday,gusto q na tapusin Wednesday
3,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,super delay na ako sa tbw list ko,super delay na ako sa tbw list ko,super delay na ako sa tbw list ko
4,2022-11-24 15:46:35+00:00,zellyze,@angewwaa same beh üò≠ academicbreaknow!!!,same beh academicbreaknow,same beh academicbreaknow,beh academicbreaknow
...,...,...,...,...,...,...
28858,2022-10-21 05:27:01+00:00,dinnyyyyyyyy,@aicannot si taylor nay nag implement ug acade...,si taylor nay nag implement ug academic break,si taylor nay nag implement ug academic break,si taylor nay nag implement ug academic break
28859,2022-10-21 05:24:05+00:00,stalinistberet,"@RodericDay ""Actually Lenin wasn't peer review...",Actually Lenin wasn t peer reviewed by establi...,Actually Lenin wasn t peer reviewed by establi...,Actually Lenin peer reviewed established acade...
28860,2022-10-21 05:15:33+00:00,6Senoritamae,Academic break plssüò≠,Academic break plss,Academic break plss,Academic break plss
28861,2022-10-21 04:49:59+00:00,treysinsmxx,tangina hirap magpa chill chill hahaha daming ...,tangina hirap magpa chill chill hahaha daming ...,tangina hirap magpa chill chill hahaha daming ...,tangina hirap magpa chill chill hahaha daming ...
28862,2021-04-18 01:37:02+00:00,akifplrs,Nakakatuwa ang tamad ko pero gusto ko ng acade...,Nakakatuwa ang tamad ko pero gusto ko ng acade...,Nakakatuwa ang tamad ko pero gusto ko ng acade...,Nakakatuwa ang tamad ko pero gusto ko ng acade...

### Remove Filipino Stopwords

In [26]:
def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_fil]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_fil]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text.lower()

tweets_df['stopped_tweets']=tweets_df['stopped_tweets'].apply(remove_stopwords)

## export to csv for backup

In [27]:
tweets_df.to_csv('02_Data_wo_Stopwords.csv')

## Label Sentiments Automatically

Compare Textblob and NLTK Sentiment analyzer

In [28]:
from textblob import TextBlob
from textblob.sentiments import NaiveBayesAnalyzer
from textblob.np_extractors import ConllExtractor

def fetch_sentiment_using_textblob(text):
    analysis = TextBlob(text)
    return 'pos' if analysis.sentiment.polarity >= 0 else 'neg'

In [29]:
sentiments_using_textblob = tweets_df.text.apply(lambda tweet: fetch_sentiment_using_textblob(tweet))
tweets_df['sentiment'] = sentiments_using_textblob
pd.DataFrame(sentiments_using_textblob.value_counts())

      text
pos  26066
neg   2797

In [30]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

def fetch_sentiment_using_SIA(text):
    sid = SentimentIntensityAnalyzer()
    polarity_scores = sid.polarity_scores(text)
    return 'neg' if polarity_scores['neg'] > polarity_scores['pos'] else 'pos'

In [31]:
sentiments_using_SIA = tweets_df.text.apply(lambda tweet: fetch_sentiment_using_SIA(tweet))
tweets_df['sentiment'] = sentiments_using_SIA
pd.DataFrame(sentiments_using_SIA.value_counts())

      text
pos  24027
neg   4836

In [32]:
tweets_df.loc[tweets_df.sentiment == 'neg']

,date,user,text,tidy_tweets,absolute_tidy_tweets,stopped_tweets,sentiment
8,2022-11-22 14:27:37+00:00,aziallaa,nakalimutan kong may coffee pala ako kasi may ...,nakalimutan kong may coffee pala ako kasi may ...,nakalimutan kong may coffee pala ako kasi may ...,nakalimutan coffee pala kasi essay akong tinap...,neg
9,2022-11-21 14:33:33+00:00,joluvre,@tkluvon it‚Äôs so hard to keep up gawa ng schoo...,it s so hard to keep up gawa ng school lately ...,it s so hard to keep up gawa ng school lately ...,hard keep gawa school lately pls eme,neg
13,2022-11-19 01:07:37+00:00,im_february,#AcademicBreakNow di ko na po kayang umakyat-b...,di ko na po kayang umakyat baba sa lrt,di ko na po kayang umakyat baba sa lrt,di po kayang umakyat baba lrt,neg
21,2022-11-16 16:15:51+00:00,kriskriszkrisp,haupppp yoko n basta mapasa na lang ej no naka...,haupppp yoko n basta mapasa na lang ej no naka...,haupppp yoko n basta mapasa na lang ej no naka...,haupppp yoko n basta mapasa lang ej nakaka dis...,neg
26,2022-11-15 13:52:07+00:00,zxmeoz,Pagod na po ako mag aral #AcademicBreakNow,Pagod na po ako mag aral,Pagod na po ako mag aral,pagod po mag aral,neg
...,...,...,...,...,...,...,...
28851,2022-10-21 07:26:58+00:00,angelo_fule,Parang isang araw lang yung isang linggo namin...,Parang isang araw lang yung isang linggo namin...,Parang isang araw lang yung isang linggo namin...,parang araw lang yung linggo naming academic b...,neg
28853,2022-10-21 06:41:32+00:00,riee_e,"hoy putangina, nag announce school ko tapos 2 ...",hoy putangina nag announce school ko tapos DAY...,hoy putangina nag announce school ko tapos DAY...,hoy putangina nag announce school tapos days l...,neg
28855,2022-10-21 06:09:59+00:00,JKVennnn,@zoncelle ‚ÄòDi baa? Anong silbi nung magiging ‚Äò...,Di baa Anong silbi nung magiging break kung ta...,Di baa Anong silbi nung magiging break kung ta...,di baa anong silbi nung magiging break tatama ...,neg
28856,2022-10-21 06:03:29+00:00,m_eycie,"seriously, I need an academic break rn",seriously I need an academic break rn,seriously I need an academic break rn,seriously need academic break rn,neg
28858,2022-10-21 05:27:01+00:00,dinnyyyyyyyy,@aicannot si taylor nay nag implement ug acade...,si taylor nay nag implement ug academic break,si taylor nay nag implement ug academic break,si taylor nay nag implement ug academic break,neg

### Export to csv

In [34]:
tweets_df.to_csv('03_Data_with_sentiment.csv')