In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('SUPER_DATA.csv')

In [3]:
df.shape

(14772, 3)

In [4]:
df.head()

   Unnamed: 0                                               text  sentiment
0           0  hello academictwitter rest activate best thus ...          1
1           1                                q tapusin wednesday          1
2           2                            tsngina pagod magpaypay          0
3           3  pagoda accla hours tulog gising lecture practi...          0
4           4                            letra p putangina pagod          0

In [5]:
df.sentiment.value_counts()

0    10761
1     4011
Name: sentiment, dtype: int64

In [6]:

# select rows with a certain sentiment
df_neg = df[df['sentiment'] == 0]

# # decrease sample size by a certain percentage
decrease_percent = 0.5
sample_size = int(len(df_neg) * decrease_percent)
df_neg = df_neg.sample(sample_size)

In [7]:
df_neg.shape

(5380, 3)

In [8]:
df_neg

,Unnamed: 0,text,sentiment
12201,12201,sulitin natu hrs bilin back reality nas wednesday,0
5056,5056,know research project bc dumb watch failing,0
7011,7011,crom tidlak alab batch pshs cvc schoolmate lef...,0
9670,9670,ol,0
3024,3024,deped idea hard modular online,0
...,...,...,...
10872,10872,tagal modules bwiset briones sabing butterteas...,0
7211,7211,pampanga unis people literally saying loud pam...,0
4935,4935,pako ready pumasok naglive verkwan asa whahaha...,0
5075,5075,fact system whatever philippines noticed distu...,0
7709,7709,promo expire days p extend,0

In [9]:
df_pos = df[df['sentiment'] == 1]

In [11]:
df_pos.shape

(4011, 3)

In [18]:
df_pos.drop(df.columns[0], axis=1, inplace=True)

C:\Users\Administrator\AppData\Roaming\Python\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [19]:
df_pos

                                                    text  sentiment
0      hello academictwitter rest activate best thus ...          1
1                                    q tapusin wednesday          1
9                                                radiant          1
11                              sagabal aaral kabadingan          1
14     insightful graphical representation find phdli...          1
...                                                  ...        ...
14733  hanep member yarn orgs next event naminnnn huh...          1
14749  like first writing years finally done submitte...          1
14753  today october half term great start well done ...          1
14756  pleasure seeing expertly warmly welcome new pu...          1
14757  like first half term complete wonderful edulin...          1

[4011 rows x 2 columns]

In [20]:
df_neg.drop(df.columns[0], axis=1, inplace=True)

In [21]:
df_neg

                                                    text  sentiment
12201  sulitin natu hrs bilin back reality nas wednesday          0
5056         know research project bc dumb watch failing          0
7011   crom tidlak alab batch pshs cvc schoolmate lef...          0
9670                                                  ol          0
3024                      deped idea hard modular online          0
...                                                  ...        ...
10872  tagal modules bwiset briones sabing butterteas...          0
7211   pampanga unis people literally saying loud pam...          0
4935   pako ready pumasok naglive verkwan asa whahaha...          0
5075   fact system whatever philippines noticed distu...          0
7709                          promo expire days p extend          0

[5380 rows x 2 columns]

In [22]:
merged_df = df_neg.append(df_pos)

In [23]:
merged_df.shape

(9391, 2)

In [26]:
final_df = merged_df.reset_index(drop=True)

In [27]:
final_df

                                                   text  sentiment
0     sulitin natu hrs bilin back reality nas wednesday          0
1           know research project bc dumb watch failing          0
2     crom tidlak alab batch pshs cvc schoolmate lef...          0
3                                                    ol          0
4                        deped idea hard modular online          0
...                                                 ...        ...
9386  hanep member yarn orgs next event naminnnn huh...          1
9387  like first writing years finally done submitte...          1
9388  today october half term great start well done ...          1
9389  pleasure seeing expertly warmly welcome new pu...          1
9390  like first half term complete wonderful edulin...          1

[9391 rows x 2 columns]