In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('SUPER_DATA.csv')

In [3]:
df.shape

(14772, 3)

In [4]:
df.head()

   Unnamed: 0                                               text  sentiment
0           0  hello academictwitter rest activate best thus ...          1
1           1                                q tapusin wednesday          1
2           2                            tsngina pagod magpaypay          0
3           3  pagoda accla hours tulog gising lecture practi...          0
4           4                            letra p putangina pagod          0

In [5]:
df.sentiment.value_counts()

0    10761
1     4011
Name: sentiment, dtype: int64

In [6]:

# select rows with a certain sentiment
df_neg = df[df['sentiment'] == 0]

# # decrease sample size by a certain percentage
# decrease_percent = 0.5
# sample_size = int(len(df_neg) * decrease_percent)
df_neg = df_neg.sample(4011)

In [7]:
df_neg.shape

(4011, 3)

In [8]:
df_neg

,Unnamed: 0,text,sentiment
2575,2575,trending nationalacadbreaknow mababalewala pap...,0
7426,7426,e education dyan kababawan man malay nyp dumat...,0
7084,7084,pagod,0
296,296,sumali gdm links tas meetings fak acads,0
13317,13317,woii cutieeeeeee gt,0
...,...,...,...
594,594,aq pasok bday gguk,0
9187,9187,tf one saying nangiinvalidate tnga tnga teache...,0
3893,3893,oooooh commotion ust let help pagodnakami,0
4976,4976,char practice,0
3027,3027,sobrang sakit ulo putangina,0

In [9]:
df_pos = df[df['sentiment'] == 1]

In [10]:
df_pos.shape

(4011, 3)

In [11]:
df_pos.drop(df.columns[0], axis=1, inplace=True)

C:\Users\Administrator\AppData\Roaming\Python\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
df_pos

                                                    text  sentiment
0      hello academictwitter rest activate best thus ...          1
1                                    q tapusin wednesday          1
9                                                radiant          1
11                              sagabal aaral kabadingan          1
14     insightful graphical representation find phdli...          1
...                                                  ...        ...
14733  hanep member yarn orgs next event naminnnn huh...          1
14749  like first writing years finally done submitte...          1
14753  today october half term great start well done ...          1
14756  pleasure seeing expertly warmly welcome new pu...          1
14757  like first half term complete wonderful edulin...          1

[4011 rows x 2 columns]

In [13]:
df_neg.drop(df.columns[0], axis=1, inplace=True)

In [14]:
df_neg

                                                    text  sentiment
2575   trending nationalacadbreaknow mababalewala pap...          0
7426   e education dyan kababawan man malay nyp dumat...          0
7084                                               pagod          0
296              sumali gdm links tas meetings fak acads          0
13317                                woii cutieeeeeee gt          0
...                                                  ...        ...
594                                   aq pasok bday gguk          0
9187   tf one saying nangiinvalidate tnga tnga teache...          0
3893           oooooh commotion ust let help pagodnakami          0
4976                                       char practice          0
3027                         sobrang sakit ulo putangina          0

[4011 rows x 2 columns]

In [15]:
merged_df = df_neg.append(df_pos)

In [16]:
merged_df.shape

(8022, 2)

In [17]:
final_df = merged_df.reset_index(drop=True)

In [18]:
final_df

                                                   text  sentiment
0     trending nationalacadbreaknow mababalewala pap...          0
1     e education dyan kababawan man malay nyp dumat...          0
2                                                 pagod          0
3               sumali gdm links tas meetings fak acads          0
4                                   woii cutieeeeeee gt          0
...                                                 ...        ...
8017  hanep member yarn orgs next event naminnnn huh...          1
8018  like first writing years finally done submitte...          1
8019  today october half term great start well done ...          1
8020  pleasure seeing expertly warmly welcome new pu...          1
8021  like first half term complete wonderful edulin...          1

[8022 rows x 2 columns]

In [20]:
final_df.to_csv('UnderSample_1.csv')