# Data Pre-processing

### Import Libraries

In [1]:
# main libraries
import numpy as np
import pandas as pd
import nltk

# For Data processing/cleaning
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from wordcloud import STOPWORDS
from bs4 import BeautifulSoup
import re
from nltk.tokenize.toktok import ToktokTokenizer
import os
import warnings

In [2]:
# import sys
# sys.path.append("stemmer\TagalogStemmerPython")

# import TglStemmer

In [3]:
dataset = pd.read_csv("nlp_research_dataset_1000.csv")

In [4]:
dataset.shape

(1000, 4)

In [5]:
dataset.head()

,date,user,text,label
0,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,-1
1,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,-1
2,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,-1
3,2022-11-24 12:46:22+00:00,_patreng_,#/academicbreaknow tsngina pagod na 'ko magpaypay,-1
4,2022-11-24 08:18:08+00:00,willowveewise,"Pagoda ang accla, 4hours tulog gising 3:40am l...",-1

In [6]:
dataset.isna().any()

date     False
user     False
text     False
label    False
dtype: bool

In [7]:
# df2 = dataset.drop_duplicates(subset=["text"], keep='first')
# df2.shape
df2 = dataset[:]

### Removing @names

In [8]:
def remove_pattern(text,pattern):
    
    # re.findall() finds the pattern i.e @user and puts it in a list for further task
    r = re.findall(pattern,text)
    
    # re.sub() removes @user from the sentences in the dataset
    for i in r:
        text = re.sub(i,"",text)
    
    return text

In [9]:
df2['tidy_tweets'] = np.vectorize(remove_pattern)(df2['text'], "@[\w]*")

df2.head(10)

<ipython-input-9-7ce2c0ade8c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['tidy_tweets'] = np.vectorize(remove_pattern)(df2['text'], "@[\w]*")

,date,user,text,label,tidy_tweets
0,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,-1,lunes nanaman bukas #academicbreaknow
1,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,-1,#AcademicBreakNow gusto q na tapusin Wednesday
2,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,-1,super delay na ako sa tbw list ko #academicbre...
3,2022-11-24 12:46:22+00:00,_patreng_,#/academicbreaknow tsngina pagod na 'ko magpaypay,-1,#/academicbreaknow tsngina pagod na 'ko magpaypay
4,2022-11-24 08:18:08+00:00,willowveewise,"Pagoda ang accla, 4hours tulog gising 3:40am l...",-1,"Pagoda ang accla, 4hours tulog gising 3:40am l..."
5,2022-11-22 15:31:24+00:00,rielles_cart,"sa letra ng p, putangina pagod na ko #academic...",-1,"sa letra ng p, putangina pagod na ko #academic..."
6,2022-11-22 14:27:37+00:00,aziallaa,nakalimutan kong may coffee pala ako kasi may ...,-1,nakalimutan kong may coffee pala ako kasi may ...
7,2022-11-21 14:33:33+00:00,joluvre,@tkluvon itâ€™s so hard to keep up gawa ng sch...,-1,itâ€™s so hard to keep up gawa ng school late...
8,2022-11-20 15:44:32+00:00,k0_aly,Nakakapagod na mag buhat ng mabigat na bag #Ac...,-1,Nakakapagod na mag buhat ng mabigat na bag #Ac...
9,2022-11-20 14:26:29+00:00,mxmoonlee,#AcademicBreakNow I donâ€™t have time for Enhy...,-1,#AcademicBreakNow I donâ€™t have time for Enhy...

###  Removing Punctuations, Numbers, and Special Characters

In [10]:
df2['tidy_tweets'] = df2['tidy_tweets'].str.replace("[^a-zA-Z#]", " ")
df2.head(10)

<ipython-input-10-58216521fa57>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df2['tidy_tweets'] = df2['tidy_tweets'].str.replace("[^a-zA-Z#]", " ")
<ipython-input-10-58216521fa57>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['tidy_tweets'] = df2['tidy_tweets'].str.replace("[^a-zA-Z#]", " ")

,date,user,text,label,tidy_tweets
0,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,-1,lunes nanaman bukas #academicbreaknow
1,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,-1,#AcademicBreakNow gusto q na tapusin Wednesday
2,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,-1,super delay na ako sa tbw list ko #academicbre...
3,2022-11-24 12:46:22+00:00,_patreng_,#/academicbreaknow tsngina pagod na 'ko magpaypay,-1,# academicbreaknow tsngina pagod na ko magpaypay
4,2022-11-24 08:18:08+00:00,willowveewise,"Pagoda ang accla, 4hours tulog gising 3:40am l...",-1,Pagoda ang accla hours tulog gising am l...
5,2022-11-22 15:31:24+00:00,rielles_cart,"sa letra ng p, putangina pagod na ko #academic...",-1,sa letra ng p putangina pagod na ko #academic...
6,2022-11-22 14:27:37+00:00,aziallaa,nakalimutan kong may coffee pala ako kasi may ...,-1,nakalimutan kong may coffee pala ako kasi may ...
7,2022-11-21 14:33:33+00:00,joluvre,@tkluvon itâ€™s so hard to keep up gawa ng sch...,-1,it s so hard to keep up gawa ng school late...
8,2022-11-20 15:44:32+00:00,k0_aly,Nakakapagod na mag buhat ng mabigat na bag #Ac...,-1,Nakakapagod na mag buhat ng mabigat na bag #Ac...
9,2022-11-20 14:26:29+00:00,mxmoonlee,#AcademicBreakNow I donâ€™t have time for Enhy...,-1,#AcademicBreakNow I don t have time for Enhy...

### Removing links

In [11]:
cleaned_tweets = []

for index, row in df2.iterrows():
    # Here we are filtering out all the words that contains link
    words_without_links = [word for word in row.tidy_tweets.split() if 'http' not in word]
    cleaned_tweets.append(' '.join(words_without_links))

df2['tidy_tweets'] = cleaned_tweets
df2.head(10)

<ipython-input-11-e81f0b0f3605>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['tidy_tweets'] = cleaned_tweets

,date,user,text,label,tidy_tweets
0,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,-1,lunes nanaman bukas #academicbreaknow
1,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,-1,#AcademicBreakNow gusto q na tapusin Wednesday
2,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,-1,super delay na ako sa tbw list ko #academicbre...
3,2022-11-24 12:46:22+00:00,_patreng_,#/academicbreaknow tsngina pagod na 'ko magpaypay,-1,# academicbreaknow tsngina pagod na ko magpaypay
4,2022-11-24 08:18:08+00:00,willowveewise,"Pagoda ang accla, 4hours tulog gising 3:40am l...",-1,Pagoda ang accla hours tulog gising am lecture...
5,2022-11-22 15:31:24+00:00,rielles_cart,"sa letra ng p, putangina pagod na ko #academic...",-1,sa letra ng p putangina pagod na ko #academicb...
6,2022-11-22 14:27:37+00:00,aziallaa,nakalimutan kong may coffee pala ako kasi may ...,-1,nakalimutan kong may coffee pala ako kasi may ...
7,2022-11-21 14:33:33+00:00,joluvre,@tkluvon itâ€™s so hard to keep up gawa ng sch...,-1,it s so hard to keep up gawa ng school lately ...
8,2022-11-20 15:44:32+00:00,k0_aly,Nakakapagod na mag buhat ng mabigat na bag #Ac...,-1,Nakakapagod na mag buhat ng mabigat na bag #Ac...
9,2022-11-20 14:26:29+00:00,mxmoonlee,#AcademicBreakNow I donâ€™t have time for Enhy...,-1,#AcademicBreakNow I don t have time for Enhype...

### Remove hashtags

In [12]:
def clean_char(text):
    clean_tweet = ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",text).split())
    return clean_tweet
df2['tidy_tweets']=df2['tidy_tweets'].apply(clean_char)

<ipython-input-12-82c43afc332d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['tidy_tweets']=df2['tidy_tweets'].apply(clean_char)

In [13]:
df2.head(10)

,date,user,text,label,tidy_tweets
0,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,-1,lunes nanaman bukas academicbreaknow
1,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,-1,AcademicBreakNow gusto q na tapusin Wednesday
2,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,-1,super delay na ako sa tbw list ko academicbrea...
3,2022-11-24 12:46:22+00:00,_patreng_,#/academicbreaknow tsngina pagod na 'ko magpaypay,-1,academicbreaknow tsngina pagod na ko magpaypay
4,2022-11-24 08:18:08+00:00,willowveewise,"Pagoda ang accla, 4hours tulog gising 3:40am l...",-1,Pagoda ang accla hours tulog gising am lecture...
5,2022-11-22 15:31:24+00:00,rielles_cart,"sa letra ng p, putangina pagod na ko #academic...",-1,sa letra ng p putangina pagod na ko academicbr...
6,2022-11-22 14:27:37+00:00,aziallaa,nakalimutan kong may coffee pala ako kasi may ...,-1,nakalimutan kong may coffee pala ako kasi may ...
7,2022-11-21 14:33:33+00:00,joluvre,@tkluvon itâ€™s so hard to keep up gawa ng sch...,-1,it s so hard to keep up gawa ng school lately ...
8,2022-11-20 15:44:32+00:00,k0_aly,Nakakapagod na mag buhat ng mabigat na bag #Ac...,-1,Nakakapagod na mag buhat ng mabigat na bag Aca...
9,2022-11-20 14:26:29+00:00,mxmoonlee,#AcademicBreakNow I donâ€™t have time for Enhy...,-1,AcademicBreakNow I don t have time for Enhypen...

### Remove rows with empty texts

In [14]:
tweets_df = df2[df2['tidy_tweets']!='']
tweets_df.head(10)

,date,user,text,label,tidy_tweets
0,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,-1,lunes nanaman bukas academicbreaknow
1,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,-1,AcademicBreakNow gusto q na tapusin Wednesday
2,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,-1,super delay na ako sa tbw list ko academicbrea...
3,2022-11-24 12:46:22+00:00,_patreng_,#/academicbreaknow tsngina pagod na 'ko magpaypay,-1,academicbreaknow tsngina pagod na ko magpaypay
4,2022-11-24 08:18:08+00:00,willowveewise,"Pagoda ang accla, 4hours tulog gising 3:40am l...",-1,Pagoda ang accla hours tulog gising am lecture...
5,2022-11-22 15:31:24+00:00,rielles_cart,"sa letra ng p, putangina pagod na ko #academic...",-1,sa letra ng p putangina pagod na ko academicbr...
6,2022-11-22 14:27:37+00:00,aziallaa,nakalimutan kong may coffee pala ako kasi may ...,-1,nakalimutan kong may coffee pala ako kasi may ...
7,2022-11-21 14:33:33+00:00,joluvre,@tkluvon itâ€™s so hard to keep up gawa ng sch...,-1,it s so hard to keep up gawa ng school lately ...
8,2022-11-20 15:44:32+00:00,k0_aly,Nakakapagod na mag buhat ng mabigat na bag #Ac...,-1,Nakakapagod na mag buhat ng mabigat na bag Aca...
9,2022-11-20 14:26:29+00:00,mxmoonlee,#AcademicBreakNow I donâ€™t have time for Enhy...,-1,AcademicBreakNow I don t have time for Enhypen...

### Drop Duplicates

In [15]:
# tweets_df.drop_duplicates(subset=['tidy_tweets'], keep='first')
# tweets_df.shape

### Reset Index

In [16]:
tweets_df = tweets_df.reset_index(drop=True)
tweets_df

,date,user,text,label,tidy_tweets
0,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,-1,lunes nanaman bukas academicbreaknow
1,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,-1,AcademicBreakNow gusto q na tapusin Wednesday
2,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,-1,super delay na ako sa tbw list ko academicbrea...
3,2022-11-24 12:46:22+00:00,_patreng_,#/academicbreaknow tsngina pagod na 'ko magpaypay,-1,academicbreaknow tsngina pagod na ko magpaypay
4,2022-11-24 08:18:08+00:00,willowveewise,"Pagoda ang accla, 4hours tulog gising 3:40am l...",-1,Pagoda ang accla hours tulog gising am lecture...
...,...,...,...,...,...
995,2021-07-15 04:49:56+00:00,Caipaparazii,From #AcademicFreeze to #WithHighHonor Congrat...,1,From AcademicFreeze to WithHighHonor Congratul...
996,2021-07-14 18:27:03+00:00,jeveuxxmourir,@vvrill_ congrats sating Yes to Academic Freez...,1,congrats sating Yes to Academic Freeze pero wi...
997,2021-06-21 09:05:07+00:00,A_curiouspanda,"After 17 days of covid, I finally feel healthy...",1,After days of covid I finally feel healthy eno...
998,2021-06-12 02:46:24+00:00,seokjinbi1og,nagrereklamo pa ko na ayaw ko pumasok at mag a...,1,nagrereklamo pa ko na ayaw ko pumasok at mag a...
999,2021-05-21 03:52:44+00:00,stfuken77,"from: ""academic freeze now!""\nto: Moving Up an...",1,from academic freeze now to Moving Up and Reco...

In [17]:
tweets_df.shape

(1000, 5)

### Remove special characters again

In [18]:
tweets_df['absolute_tidy_tweets'] = tweets_df['tidy_tweets'].str.replace("[^a-zA-Z# ]", " ")

<ipython-input-18-cbb8feb682c4>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tweets_df['absolute_tidy_tweets'] = tweets_df['tidy_tweets'].str.replace("[^a-zA-Z# ]", " ")

In [19]:
tweets_df

,date,user,text,label,tidy_tweets,absolute_tidy_tweets
0,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,-1,lunes nanaman bukas academicbreaknow,lunes nanaman bukas academicbreaknow
1,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,-1,AcademicBreakNow gusto q na tapusin Wednesday,AcademicBreakNow gusto q na tapusin Wednesday
2,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,-1,super delay na ako sa tbw list ko academicbrea...,super delay na ako sa tbw list ko academicbrea...
3,2022-11-24 12:46:22+00:00,_patreng_,#/academicbreaknow tsngina pagod na 'ko magpaypay,-1,academicbreaknow tsngina pagod na ko magpaypay,academicbreaknow tsngina pagod na ko magpaypay
4,2022-11-24 08:18:08+00:00,willowveewise,"Pagoda ang accla, 4hours tulog gising 3:40am l...",-1,Pagoda ang accla hours tulog gising am lecture...,Pagoda ang accla hours tulog gising am lecture...
...,...,...,...,...,...,...
995,2021-07-15 04:49:56+00:00,Caipaparazii,From #AcademicFreeze to #WithHighHonor Congrat...,1,From AcademicFreeze to WithHighHonor Congratul...,From AcademicFreeze to WithHighHonor Congratul...
996,2021-07-14 18:27:03+00:00,jeveuxxmourir,@vvrill_ congrats sating Yes to Academic Freez...,1,congrats sating Yes to Academic Freeze pero wi...,congrats sating Yes to Academic Freeze pero wi...
997,2021-06-21 09:05:07+00:00,A_curiouspanda,"After 17 days of covid, I finally feel healthy...",1,After days of covid I finally feel healthy eno...,After days of covid I finally feel healthy eno...
998,2021-06-12 02:46:24+00:00,seokjinbi1og,nagrereklamo pa ko na ayaw ko pumasok at mag a...,1,nagrereklamo pa ko na ayaw ko pumasok at mag a...,nagrereklamo pa ko na ayaw ko pumasok at mag a...
999,2021-05-21 03:52:44+00:00,stfuken77,"from: ""academic freeze now!""\nto: Moving Up an...",1,from academic freeze now to Moving Up and Reco...,from academic freeze now to Moving Up and Reco...

# Remove English and Filipino Stopwords

In [20]:
tokenizer = ToktokTokenizer()

In [21]:
stopword_eng = nltk.corpus.stopwords.words('english')
stopword_fil = ["akin","aking","ako","alin","am","amin","aming","ang","ano","anumang","apat","at","atin","ating","ay","bababa","bago","bakit","bawat","bilang","dahil","dalawa","dapat","din","dito","doon","gagawin","gayunman","ginagawa","ginawa","ginawang","gumawa","gusto","habang","hanggang","hindi","huwag","iba","ibaba","ibabaw","ibig","ikaw","ilagay","ilalim","ilan","inyong","isa","isang","itaas","ito","iyo","iyon","iyong","ka","kahit","kailangan","kailanman","kami","kanila","kanilang","kanino","kanya","kanyang","kapag","kapwa","karamihan","katiyakan","katulad","kaya","kaysa","ko","kong","kulang","kumuha","kung","laban","lahat","lamang","likod","lima","maaari","maaaring","maging","mahusay","makita","marami","marapat","masyado","may","mayroon","mga","minsan","mismo","mula","muli","na","nabanggit","naging","nagkaroon","nais","nakita","namin","napaka","narito","nasaan","ng","ngayon","ni","nila","nilang","nito","niya","niyang","noon","o","pa","paano","pababa","paggawa","pagitan","pagkakaroon","pagkatapos","palabas","pamamagitan","panahon","pangalawa","para","paraan","pareho","pataas","pero","pumunta","pumupunta","sa","saan","sabi","sabihin","sarili","sila","sino","siya","tatlo","tayo","tulad","tungkol","una","walang"]

In [22]:
print(stopword_eng)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [23]:
print(stopword_fil)

['akin', 'aking', 'ako', 'alin', 'am', 'amin', 'aming', 'ang', 'ano', 'anumang', 'apat', 'at', 'atin', 'ating', 'ay', 'bababa', 'bago', 'bakit', 'bawat', 'bilang', 'dahil', 'dalawa', 'dapat', 'din', 'dito', 'doon', 'gagawin', 'gayunman', 'ginagawa', 'ginawa', 'ginawang', 'gumawa', 'gusto', 'habang', 'hanggang', 'hindi', 'huwag', 'iba', 'ibaba', 'ibabaw', 'ibig', 'ikaw', 'ilagay', 'ilalim', 'ilan', 'inyong', 'isa', 'isang', 'itaas', 'ito', 'iyo', 'iyon', 'iyong', 'ka', 'kahit', 'kailangan', 'kailanman', 'kami', 'kanila', 'kanilang', 'kanino', 'kanya', 'kanyang', 'kapag', 'kapwa', 'karamihan', 'katiyakan', 'katulad', 'kaya', 'kaysa', 'ko', 'kong', 'kulang', 'kumuha', 'kung', 'laban', 'lahat', 'lamang', 'likod', 'lima', 'maaari', 'maaaring', 'maging', 'mahusay', 'makita', 'marami', 'marapat', 'masyado', 'may', 'mayroon', 'mga', 'minsan', 'mismo', 'mula', 'muli', 'na', 'nabanggit', 'naging', 'nagkaroon', 'nais', 'nakita', 'namin', 'napaka', 'narito', 'nasaan', 'ng', 'ngayon', 'ni', 'nila', 'nilang', 'nito', 'niya', 'niyang', 'noon', 'o', 'pa', 'paano', 'pababa', 'paggawa', 'pagitan', 'pagkakaroon', 'pagkatapos', 'palabas', 'pamamagitan', 'panahon', 'pangalawa', 'para', 'paraan', 'pareho', 'pataas', 'pero', 'pumunta', 'pumupunta', 'sa', 'saan', 'sabi', 'sabihin', 'sarili', 'sila', 'sino', 'siya', 'tatlo', 'tayo', 'tulad', 'tungkol', 'una', 'walang']

### Remove english stopwords

In [24]:
def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_eng]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_eng]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

tweets_df['stopped_tweets']=tweets_df['absolute_tidy_tweets'].apply(remove_stopwords)

In [25]:
tweets_df

,date,user,text,label,tidy_tweets,absolute_tidy_tweets,stopped_tweets
0,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,-1,lunes nanaman bukas academicbreaknow,lunes nanaman bukas academicbreaknow,lunes nanaman bukas academicbreaknow
1,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,-1,AcademicBreakNow gusto q na tapusin Wednesday,AcademicBreakNow gusto q na tapusin Wednesday,AcademicBreakNow gusto q na tapusin Wednesday
2,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,-1,super delay na ako sa tbw list ko academicbrea...,super delay na ako sa tbw list ko academicbrea...,super delay na ako sa tbw list ko academicbrea...
3,2022-11-24 12:46:22+00:00,_patreng_,#/academicbreaknow tsngina pagod na 'ko magpaypay,-1,academicbreaknow tsngina pagod na ko magpaypay,academicbreaknow tsngina pagod na ko magpaypay,academicbreaknow tsngina pagod na ko magpaypay
4,2022-11-24 08:18:08+00:00,willowveewise,"Pagoda ang accla, 4hours tulog gising 3:40am l...",-1,Pagoda ang accla hours tulog gising am lecture...,Pagoda ang accla hours tulog gising am lecture...,Pagoda ang accla hours tulog gising lecture ng...
...,...,...,...,...,...,...,...
995,2021-07-15 04:49:56+00:00,Caipaparazii,From #AcademicFreeze to #WithHighHonor Congrat...,1,From AcademicFreeze to WithHighHonor Congratul...,From AcademicFreeze to WithHighHonor Congratul...,AcademicFreeze WithHighHonor Congratulations f...
996,2021-07-14 18:27:03+00:00,jeveuxxmourir,@vvrill_ congrats sating Yes to Academic Freez...,1,congrats sating Yes to Academic Freeze pero wi...,congrats sating Yes to Academic Freeze pero wi...,congrats sating Yes Academic Freeze pero Honors
997,2021-06-21 09:05:07+00:00,A_curiouspanda,"After 17 days of covid, I finally feel healthy...",1,After days of covid I finally feel healthy eno...,After days of covid I finally feel healthy eno...,days covid finally feel healthy enough back wo...
998,2021-06-12 02:46:24+00:00,seokjinbi1og,nagrereklamo pa ko na ayaw ko pumasok at mag a...,1,nagrereklamo pa ko na ayaw ko pumasok at mag a...,nagrereklamo pa ko na ayaw ko pumasok at mag a...,nagrereklamo pa ko na ayaw ko pumasok mag acad...
999,2021-05-21 03:52:44+00:00,stfuken77,"from: ""academic freeze now!""\nto: Moving Up an...",1,from academic freeze now to Moving Up and Reco...,from academic freeze now to Moving Up and Reco...,academic freeze Moving Recognition ceremony CO...

### Remove Filipino Stopwords

In [26]:
def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_fil]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_fil]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text.lower()

tweets_df['stopped_tweets']=tweets_df['stopped_tweets'].apply(remove_stopwords)

## export to csv for backup

In [27]:
tweets_df.to_csv('02_Data_wo_Stopwords.csv')

## Label Sentiments Automatically

Compare Textblob and NLTK Sentiment analyzer

In [28]:
# from textblob import TextBlob
# from textblob.sentiments import NaiveBayesAnalyzer
# from textblob.np_extractors import ConllExtractor

# def fetch_sentiment_using_textblob(text):
#     analysis = TextBlob(text)
#     return 'pos' if analysis.sentiment.polarity >= 0 else 'neg'

In [29]:
# sentiments_using_textblob = tweets_df.text.apply(lambda tweet: fetch_sentiment_using_textblob(tweet))
# tweets_df['sentiment'] = sentiments_using_textblob
# pd.DataFrame(sentiments_using_textblob.value_counts())

In [30]:
# from nltk.sentiment.vader import SentimentIntensityAnalyzer

# def fetch_sentiment_using_SIA(text):
#     sid = SentimentIntensityAnalyzer()
#     polarity_scores = sid.polarity_scores(text)
#     return 'neg' if polarity_scores['neg'] > polarity_scores['pos'] else 'pos'

In [31]:
# sentiments_using_SIA = tweets_df.text.apply(lambda tweet: fetch_sentiment_using_SIA(tweet))
# tweets_df['sentiment'] = sentiments_using_SIA
# pd.DataFrame(sentiments_using_SIA.value_counts())

In [32]:
# tweets_df.loc[tweets_df.sentiment == 'neg']

### Export to csv

In [33]:
tweets_df.to_csv('03_Data_with_sentiment.csv')

In [34]:
tweets_df.head()

,date,user,text,label,tidy_tweets,absolute_tidy_tweets,stopped_tweets
0,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow,-1,lunes nanaman bukas academicbreaknow,lunes nanaman bukas academicbreaknow,lunes nanaman bukas academicbreaknow
1,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday,-1,AcademicBreakNow gusto q na tapusin Wednesday,AcademicBreakNow gusto q na tapusin Wednesday,academicbreaknow q tapusin wednesday
2,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...,-1,super delay na ako sa tbw list ko academicbrea...,super delay na ako sa tbw list ko academicbrea...,super delay tbw list academicbreaknow
3,2022-11-24 12:46:22+00:00,_patreng_,#/academicbreaknow tsngina pagod na 'ko magpaypay,-1,academicbreaknow tsngina pagod na ko magpaypay,academicbreaknow tsngina pagod na ko magpaypay,academicbreaknow tsngina pagod magpaypay
4,2022-11-24 08:18:08+00:00,willowveewise,"Pagoda ang accla, 4hours tulog gising 3:40am l...",-1,Pagoda ang accla hours tulog gising am lecture...,Pagoda ang accla hours tulog gising am lecture...,pagoda accla hours tulog gising lecture practi...

In [35]:
academic_stopwords = ['academic', 'academiceasenow', 'academicbreaknow', 'break', 'academicfreezenow', 'academicfreeze', 'freeze', 'ligtasnabalikeskwela', 'student', 'school', 'yung', 'di', 'co', 'naman', 'academicbreak', 'lang', 'po', 'nag', 'mag', 'pag', 'tapos', 'talaga', 'agad', 'week', 'nga', 'mo', 'muna', 'student', 'class', 'kayo', 'palang', 'nalang', 'students', 'call', 'need', 'year', 'eh', 'ta', 'u', 'yan', 'pala', 'niyo', 'parang', 'rin', 'din', 'si', 'acadbreak', 'wala', 'ba', 'day', 'kasi', 'sana', 'niyo', 'akong', 'nyo']

In [36]:
df = tweets_df[['stopped_tweets', 'label']]

In [37]:
tokenizer = ToktokTokenizer()
def remove_academic_stopwords(text):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    filtered_tokens = [token for token in tokens if token.lower() not in academic_stopwords]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

df['stopped_tweets']=df['stopped_tweets'].apply(remove_academic_stopwords)

<ipython-input-37-2dd98a0cbc43>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['stopped_tweets']=df['stopped_tweets'].apply(remove_academic_stopwords)

In [38]:
df

                                        stopped_tweets  label
0                                  lunes nanaman bukas     -1
1                                  q tapusin wednesday     -1
2                                 super delay tbw list     -1
3                              tsngina pagod magpaypay     -1
4    pagoda accla hours tulog gising lecture practi...     -1
..                                                 ...    ...
995  withhighhonor congratulations fellow graduates...      1
996                         congrats sating yes honors      1
997  days covid finally feel healthy enough back wo...      1
998  nagrereklamo ayaw pumasok honors ate thank lor...      1
999    moving recognition ceremony congrats completers      1

[1000 rows x 2 columns]

In [39]:
df = df.replace(-1,0)

In [40]:
df.head()

                                      stopped_tweets  label
0                                lunes nanaman bukas      0
1                                q tapusin wednesday      0
2                               super delay tbw list      0
3                            tsngina pagod magpaypay      0
4  pagoda accla hours tulog gising lecture practi...      0

In [44]:
df.columns = ['text', 'sentiment']

In [45]:
df

                                                  text  sentiment
0                                  lunes nanaman bukas          0
1                                  q tapusin wednesday          0
2                                 super delay tbw list          0
3                              tsngina pagod magpaypay          0
4    pagoda accla hours tulog gising lecture practi...          0
..                                                 ...        ...
995  withhighhonor congratulations fellow graduates...          1
996                         congrats sating yes honors          1
997  days covid finally feel healthy enough back wo...          1
998  nagrereklamo ayaw pumasok honors ate thank lor...          1
999    moving recognition ceremony congrats completers          1

[1000 rows x 2 columns]

In [46]:
df.to_csv('final_less_stopwords.csv')