## Data Collection

snsrape allow us to get historical data from twitter unlike other library that only fetches data from the past week.

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [3]:
df = pd.DataFrame()

In [4]:
#List all hashtags we want to scrape
hashtags = ["AcademicBreakNow", "AcademicFreezeNow", "Pagodnakami","Academicbreak", "AcademicEaseNow", "AcadBreak", "AcadEase", "AcademicFreeze", "Academic_break", "academic_freeze"]

In [6]:
for i in range(len(hashtags)):
    query = f"{hashtags[i]} until:2022-12-01 since:2020-01-01 -filter:retweets"
    tweets = []

    limit =  5000 # how many tweets which you wanna extract

    for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    #     print(vars(tweet))
    #     break
        if len(tweets) == limit:
            break
        else:
            tweets.append([tweet.date, tweet.username, tweet.content])
    df = df.append(tweets)

<ipython-input-6-42c996cb0b0c>:13: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [7]:
df.columns = ['date', 'user', 'text']

In [9]:
df

,date,user,text
0,2022-11-29 04:15:58+00:00,maffyolfato,#academicbreaknow
1,2022-11-27 12:18:49+00:00,researcheff,"Hello, #AcademicTwitter,\n\nüéôÔ∏è""You need to hav..."
2,2022-11-27 10:30:42+00:00,dprleanne,lunes nanaman bukas #academicbreaknow
3,2022-11-27 09:02:47+00:00,ericakieraa,#AcademicBreakNow gusto q na tapusin Wednesday
4,2022-11-25 13:30:42+00:00,qin_ina,super delay na ako sa tbw list ko #academicbre...
...,...,...,...
4995,2021-04-18 12:55:48+00:00,klowidulos,"We really went from ""Academic Freeze"" to ""Acad..."
4996,2021-04-18 12:26:08+00:00,itsrows_,drained :'(((\nacademic freeze pls
4997,2021-04-18 12:09:28+00:00,AYJIMpng,"@seoulseokjoon yep, mapapatanong ka nalang nan..."
4998,2021-04-18 08:05:18+00:00,elleganceee,'di raw nagsisi pero academic freeze raw HAHZA...
4999,2021-04-18 01:37:02+00:00,akifplrs,Nakakatuwa ang tamad ko pero gusto ko ng acade...